In [1]:
import pandas as pd
#import pandas.io.sql as sqlio
#import sqlalchemy as sql
import psycopg2
#import matplotlib.pyplot as plt
import numpy as np
import os

 
from sqlalchemy import create_engine

True

### Natural Gas Tables Clean up

In [16]:
file_to_load = "Resources/Natural Gas Marketed Production-StateRankings.csv"
natural_gas_production = pd.read_csv(file_to_load)
natural_gas_production.head()

,Rank,State,"Natural Gas Marketed Production, million cu ft",Note: Rankings are based on the full source data values. Excludes Gulf of Mexico federal offshore production.
0,1,TX,7847102,NaN
1,2,PA,6210673,NaN
2,3,OK,2946117,NaN
3,4,LA,2810636,NaN
4,5,OH,2409153,NaN

In [24]:
states_data['id']=states_data.index+1
states_data.head()

        State  Abbrev Code  id
0     Alabama    Ala.   AL   1
1      Alaska  Alaska   AK   2
2     Arizona   Ariz.   AZ   3
3    Arkansas    Ark.   AR   4
4  California  Calif.   CA   5

In [4]:
# File to Load (Remember to Change These)
file_to_load = "Resources/Total Energy Consumed per Capita-StateRankings.csv"

# Read Renewable energy potential file and store into Pandas data frame
Totalenergyconsumed = pd.read_csv(file_to_load)
Totalenergyconsumed.head()

,Rank,State,"Total Energy Consumed per Capita, million Btu",Note: Rankings are based on the full source data values.
0,1,WY,967,NaN
1,2,LA,945,NaN
2,3,ND,872,NaN
3,4,AK,830,NaN
4,5,IA,513,NaN

In [5]:
Totalenergyconsumed = Totalenergyconsumed[['Rank', 'State', 'Total Energy Consumed per Capita, million Btu']]

In [12]:
Totalenergycon_clean = pd.merge(Totalenergyconsumed, states_data,how='inner',left_on='State', right_on='Code')

Totalenergycon_clean = Totalenergycon_clean[['id','Rank','Total Energy Consumed per Capita, million Btu']]

Totalenergycon_clean = Totalenergycon_clean.rename(columns = {'id' : 'State_id'})

Totalenergycon_clean.set_index("State_id", inplace=True)

Totalenergycon_clean.head()

          Rank  Total Energy Consumed per Capita, million Btu
State_id
51           1                                            967
19           2                                            945
35           3                                            872
2            4                                            830
16           5                                            513

In [9]:
# File to Load (Remember to Change These)
file_to_load = "Resources/Total Energy Production-StateRankings.csv"

# Read Renewable energy potential file and store into Pandas data frame
Totalenergyproduction = pd.read_csv(file_to_load)
Totalenergyproduction.head()

,Rank,State,"Total Energy Production, trillion Btu",Note: Rankings are based on the full source data values. Excludes federal offshore production.
0,1,TX,20421,NaN
1,2,PA,8987,NaN
2,3,WY,7718,NaN
3,4,OK,4881,NaN
4,5,WV,4770,NaN

In [10]:
Totalenergyproduction = Totalenergyproduction[['Rank', 'State', 'Total Energy Production, trillion Btu']]

In [13]:
Totalenergyprod_clean = pd.merge(Totalenergyproduction, states_data,how='inner',left_on='State', right_on='Code')

Totalenergyprod_clean = Totalenergyprod_clean[['id','Rank','Total Energy Production, trillion Btu']]

Totalenergyprod_clean = Totalenergyprod_clean.rename(columns = {'id' : 'State_id'})

Totalenergyprod_clean.set_index("State_id", inplace=True)

Totalenergyprod_clean.head()

          Rank  Total Energy Production, trillion Btu
State_id
44           1                                  20421
39           2                                   8987
51           3                                   7718
37           4                                   4881
49           5                                   4770

In [25]:
natural_gas_production['State_id']=natural_gas_production.index+1

natural_gas_production.drop(columns = ["State","Note: Rankings are based on the full source data values. Excludes Gulf of Mexico federal offshore production."], inplace = True)

natural_gas_production.head()

Index(['Unnamed: 0', 'urbanUtilityScalePV_GWh', 'urbanUtilityScalePV_GW',
       'urbanUtilityScalePV_km2', 'ruralUtilityScalePV_GWh',
       'ruralUtilityScalePV_GW', 'ruralUtilityScalePV_km2', 'rooftopPV_GWh',
       'rooftopPV_GW', 'CSP_GWh', 'CSP_GW', 'CSP_km2', 'onshoreWind_GWh',
       'onshoreWind_GW', 'onshoreWind_km2', 'offshoreWind_GWh',
       'offshoreWind_GW', 'offshoreWind_km2', 'biopowerSolid_GWh',
       'biopowerSolid_GW', 'biopowerSolid_BDT', 'biopowerGaseous_GWh',
       'biopowerGaseous_GW', 'biopowerGaseous_Tonnes-CH4',
       'geothermalHydrothermal_GWh', 'geothermalHydrothermal_GW',
       'EGSGeothermal_GWh', 'EGSGeothermal_GW', 'hydropower_GWh',
       'hydropower_GW', 'hydropower_countOfSites'],
      dtype='object')

In [45]:
file_to_load = "Resources/P2.csv"
production_df = pd.read_csv(file_to_load)
production_df.head()

,"Table P2. Primary Energy Production Estimates in Trillion Btu, 2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,Fossil Fuels,NaN,NaN,NaN,NaN,NaN,Nuclear Electric Power,NaN,Renewable Energy,NaN,NaN,NaN,NaN,NaN,Total,NaN
2,NaN,Coal a,NaN,Natural \nGas b,NaN,Crude Oil c,NaN,NaN,NaN,Biofuels d,NaN,Wood and Waste e,NaN,Other f,NaN,NaN,NaN
3,NaN,Trillion Btu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,370.5,NaN,149.6,NaN,33.6,NaN,412.6,NaN,1.7,NaN,170.1,NaN,105.0,NaN,"1,243.0",NaN

In [46]:
production_df.rename(columns ={"Table P2. Primary Energy Production Estimates in Trillion Btu, 2018": "State",
                              "Unnamed: 1":"Fossil Fuels", "Unnamed: 3":"Natural Gas", "Unnamed: 5":"Crude Oil",
                              "Unnamed: 9":"Biofuels", "Unnamed: 7":"Nuclear Electric Power","Unnamed: 11":"Wood and Waste",
                              "Unnamed: 13":"Other", "Unnamed: 15":"Total"}, inplace = True)

production_df.drop(columns = ['Unnamed: 2','Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8','Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14',
                             'Unnamed: 16'], inplace = True)

production_df.drop([0,1,2,3], inplace = True)

production_df.head()

,"Table P2. Primary Energy Production Estimates in Trillion Btu, 2018",Fossil Fuels,Natural Gas,Crude Oil,Nuclear Electric Power,Biofuels,Wood and Waste,Other,Total
4,Alabama,370.5,149.6,33.6,412.6,1.7,170.1,105.0,"1,243.0"
5,Alaska,13.8,375.3,997.4,0.0,(s),7.3,16.8,"1,410.6"
6,Arizona,140.8,(s),0.1,325.1,6.8,8.7,139.5,621.0
7,Arkansas,0.0,600.4,28.6,133.0,9.5,85.2,30.3,887.1
8,California,0.0,228.9,965.3,190.4,35.5,130.5,857.6,"2,408.2"