In [4]:
import pandas as pd
#import pandas.io.sql as sqlio
#import sqlalchemy as sql
import psycopg2
#import matplotlib.pyplot as plt
import numpy as np
import os

 
from sqlalchemy import create_engine

### Natural Gas Tables Clean up

In [16]:
file_to_load = "Resources/Natural Gas Marketed Production-StateRankings.csv"
natural_gas_production = pd.read_csv(file_to_load)
natural_gas_production.head()

,Rank,State,"Natural Gas Marketed Production, million cu ft",Note: Rankings are based on the full source data values. Excludes Gulf of Mexico federal offshore production.
0,1,TX,7847102,NaN
1,2,PA,6210673,NaN
2,3,OK,2946117,NaN
3,4,LA,2810636,NaN
4,5,OH,2409153,NaN

In [24]:
natural_gas_production['State_id']=natural_gas_production.index+1

natural_gas_production.drop(columns = ["State","Note: Rankings are based on the full source data values. Excludes Gulf of Mexico federal offshore production."], inplace = True)

natural_gas_production.head()

   Rank Natural Gas Marketed Production, million cu ft  State_id
0     1                                        7847102         1
1     2                                        6210673         2
2     3                                        2946117         3
3     4                                        2810636         4
4     5                                        2409153         5

In [45]:
file_to_load = "Resources/P2.csv"
production_df = pd.read_csv(file_to_load)
production_df.head()

,"Table P2. Primary Energy Production Estimates in Trillion Btu, 2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,Fossil Fuels,NaN,NaN,NaN,NaN,NaN,Nuclear Electric Power,NaN,Renewable Energy,NaN,NaN,NaN,NaN,NaN,Total,NaN
2,NaN,Coal a,NaN,Natural \nGas b,NaN,Crude Oil c,NaN,NaN,NaN,Biofuels d,NaN,Wood and Waste e,NaN,Other f,NaN,NaN,NaN
3,NaN,Trillion Btu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,370.5,NaN,149.6,NaN,33.6,NaN,412.6,NaN,1.7,NaN,170.1,NaN,105.0,NaN,"1,243.0",NaN

In [46]:
production_df.rename(columns ={"Table P2. Primary Energy Production Estimates in Trillion Btu, 2018": "State",
                              "Unnamed: 1":"Fossil Fuels", "Unnamed: 3":"Natural Gas", "Unnamed: 5":"Crude Oil",
                              "Unnamed: 9":"Biofuels", "Unnamed: 7":"Nuclear Electric Power","Unnamed: 11":"Wood and Waste",
                              "Unnamed: 13":"Other", "Unnamed: 15":"Total"}, inplace = True)

production_df.drop(columns = ['Unnamed: 2','Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8','Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14',
                             'Unnamed: 16'], inplace = True)

production_df.drop([0,1,2,3], inplace = True)

production_df.head()

,"Table P2. Primary Energy Production Estimates in Trillion Btu, 2018",Fossil Fuels,Natural Gas,Crude Oil,Nuclear Electric Power,Biofuels,Wood and Waste,Other,Total
4,Alabama,370.5,149.6,33.6,412.6,1.7,170.1,105.0,"1,243.0"
5,Alaska,13.8,375.3,997.4,0.0,(s),7.3,16.8,"1,410.6"
6,Arizona,140.8,(s),0.1,325.1,6.8,8.7,139.5,621.0
7,Arkansas,0.0,600.4,28.6,133.0,9.5,85.2,30.3,887.1
8,California,0.0,228.9,965.3,190.4,35.5,130.5,857.6,"2,408.2"